/* Global stuff */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
}

html {height: 100%;}

body {
    height: 100%;
    color: #d0cbc7;
    background-color: #333333;
}

a {
    text-decoration: none;
}
a:link, a:visited, a:active {
    color: #d0cbc7;
}
a:hover {
    color: #ffffff;
}

input[type=text] {
    border-radius: 3px;
    border: 0;
    outline: 0;
    background-color: #333;
    height: 20px;
    padding: 0 5px;
    color: #D0C4C7;
}

/* General classes */
.hidden {
    display: none;
}

/* Alert box for logging in/starting lobbies/etc */
div#alert {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position:  absolute;
    top: 0;
    left: 0;
    z-index: 100000;
}

div#alert_contents {
    width: 500px;
    background-color: #333;
    border-radius: 24px;
    border: 3px #D0CBC7 solid;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 45%;
    margin: -144px auto;
}

div#login_box, div#start_pug_box {
    width: 100%;
    display: none;
}

div.close_alert {
    position: absolute;
    top: 6px;
    right: 11px;
    color: rgb(151, 51, 51);
    cursor: pointer;
}

div#login_box {
    display: block;
    padding: 30px 0;
}

div#login_box h2 {
    height: 60px;
}

div#login_box img {
    margin-top: 30px;
    border: 0;
}

/* Content */
#wrapper {
    margin: 0 auto;
    width: 1050px;
    height: 100%;
    padding-bottom: 40px;
    position: relative;
}

#tf2_icon {
    background-image: url(http://cdn.tf2pickup.com/tf2logo.png);
    background-repeat: no-repeat;
    z-index: -100;
    width: 191px;
    height: 191px;
    position: absolute;
    top: 5px;
    left: -60px;
}

#header {
    width: 1050px;
    height: 48px;
    position: absolute;
    top: 45px;
    z-index: 10000;
}

#logo {
    background-image: url(http://cdn.tf2pickup.com/logo.png);
    background-repeat: no-repeat;
    height: 48px;
    width: 318px;
    float: left;
}

#steam {
    float: right;
    height: 48px;
}

#steam a img {
    border: none;
    padding-top: 15px;
}

#middle {
    width: 100%;
    height: 100%;
    padding-top: 98px;
    position: relative;
}

#footer {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20px;
}

/* Filter and Start PUG header */
div#pug_list_header {
    height: 30px;
    padding: 5px;
    width: 100%;
    background-color: #282828;
    border-radius: 10px;
    font-size: 17px;

    /* Disable annoying text selection when pressing
     * the filter buttons */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div#pug_list_header span {
    cursor: pointer;
}

div#pug_list_header img {
    position: relative;
    top: 2px;
}

.filter_disabled {
    opacity: .3;
}

span#filter_na {
    margin-left: 10px;
}

a#start_pug {
    float: right;
}

#no_pugs {
    margin-top: 25px;
    text-align: center;
    color: red;
    font-size: 50px;
    display: none;
}

#pugs_loading {
    margin: 25px auto;
    width: 66px;
}

/* Pug listing style */
div.pug {
    height: 90px;
    border: 3px #d0cbc7 solid;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    background-color: #333;
}

div.pug:hover {
    border-color: #FFFFFF;
}

div.pug .pug_map {
    width: 141px;
    height: 64px;
    margin: 10px 10px 10px 5px;
    float: left;
}

.pug_map img {
    float: left;
}

.pug_map img:first-child {
    border-radius: 5px 0 0 5px;
}

.pug_map img:last-child {
    border-radius: 0 5px 5px 0;
}

.pug_title {
    float: left;
    margin-top: 15px;
    font-size: 18px;
    height: 69px;
    width: 325px;
    overflow: hidden;
    white-space: nowrap;
}
.pug_info {
    font-size: 12px;
}

.pug_teams {
    float: left;
    margin: 15px 62px;
    height: 53px;
}

.pug_teams img {
    width: 24px;
    height: 24px;
    border: 2px transparent solid;
    border-radius: 2px;
}

.pug_teams img.empty {
    #opacity: .4;
}

.pug_teams img.friend {
    border: 2px rgb(167, 244, 70) solid;
}

.pug_team:first-child {
    margin-bottom: 5px;
}

.pug_team {
    height: 24px;
}

.pug_player_count {
    float: right;
    margin: 8px 10px 0 0;
    font-size: 50px;
}

.pug_server_info {
    float: right;
    clear: right;
    margin: 5px 5px 0 0;
    width: 240px;
    font-size: 11px;
}

.pug_server_info table {
    width: 100%;
    text-align: left;
}
