html {
	height: 100%;
	font-family:"Verdana";
	color: #d0cbc7;
	background-color: #333333;
}

#logo {
	background-image: url(http://cdn.huang.mx/i/fagmr.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 24px;
	width: 270px;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

#header {
	float: left;
	margin-bottom: 5px;
	width: 100%;
	margin-top: 20px;
}

#welcome {
	float: left;
}

#steam {
	float: right;
}

#steam a img {
	border: none;
	padding-top: 15px;
}

#middle {
	clear: both;
	height: 600px;
}

#left {
	float: left;
	width: 34%;
}

#news {
	border-style: solid;
	border-radius: 10px;
	margin-top: 5px;
	height: 170px;
	padding: 10px;
}

#chat {
	border-style: solid;
   border-radius: 10px;
	margin-top: 15px;
	height: 325px;
	padding: 10px;
}

#chatbox {
   resize:none;
	overflow:hidden;
	border:0; 
	outline: 0;
	background-color: transparent; 
	width: 98%; 
	color: #0F0;
	height: 90%;
}

#chatinput {
width: 98%;
}

#right {
	float: right;
	width: 65%;
}

#footer {
	clear: both;
}

#copy {
	float: right;
}

#user {
	float: left;
}
div.flag {
	padding-top: 6px;
	border: 0;
}
div.pug {
	border-style: solid;
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 12px;
	padding: 10px;
}
a:link { 
	text-decoration: none; 
	color: #d0cbc7;
}
a:visited {
	text-decoration: none;
	color: #d0cbc7;
}
a:hover {
	text-decoration: none;
	color: #ffffff;
}
a:active {
	text-decoration: none;
	color: #d0cbc7;
}
