  <div id="pug_info">

  </div>
  {{for teams}}
  <div class="in_pug_team">
    <div class="in_pug_team_header team_{{zeroFix:team_id}}">
      {{teamName:team_id}}
    </div>
    {{for players}}
      <div class="in_pug_player available"
           js-class="{{:class_id}}"
           js-team="{{zeroFix:teamid}}">
        <div class="med_class class_{{:class_id}}"></div>
        {{if !empty}}
          <img src="{{:avatar}}"
               alt="{{:name}}"
               title="{{:name}}"
               width="32"
               height="32"
               {{if friend}}
                 class="friend"
               {{/if}}
               id="player_{{:steamid}}" />
          <div class="player_name">{{:name}}</div>
        {{/if}}
      </div>
    {{/for}}
  </div>
  {{/for}}
