<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>TF2Pickup - Play Team Fortress 2 Pickup Games</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://cdn.tf2pickup.com/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="screen" />

    <script type="text/javascript">
      //<!--CDATA
      var TF2PICKUP_DATA = {
        logged_in: <%- logged_in %>,
        user_data: <%- JSON.stringify(user) %>
      };
      // -->
    </script>
  </head>
  <body>
    <%- body %>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/underscore-min.js"></script>
    <script src="scripts/jsrender.js"></script>
    <script src="scripts/persist-min.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
